
# Docker Compose can read environment variables from this file.
# See https://docs.docker.com/compose/env-file/

# Put admin areas behind a login prompt, with username and password
# specified here. Run `htpasswd -n admin` to create a password hash
# for user "admin". Paste the output here. SSL strongly recommended.
BASIC_AUTH=

# Let's Encrypt needs an email address for registration.
ACME_EMAIL=

# The main URL of your blog. Ghost needs this when using Traefik
# or it'll confusinglyy think its URL is localhost, breaking things 
# like your cover image or the "visit site" link in the Dashboard
BLOG_URL=

# You can comma-separate multiple domains if need be (e.g. for www.)
DOMAINS_BLOG=
DOMAINS_TRAEFIK=
DOMAINS_MATOMO=

# Set a secure password for the MySQL root user. Remember this so
DB_ROOT_PASSWORD=

# Set the MySQL database name, user and password for Matomo.
DB_NAME=davejansen
DB_USER=davejansen
DB_PASSWORD=
